# Git
.git
.github

# Dependencies
node_modules
vendor

# Secrets
.env
*.key
secrets

# Docs
README*.md
LICENSE*
docs

# Builds
dist
build

# Logs & Temp
logs
*.log
tmp
temp

# IDE
.vscode
.idea

# OS
.DS_Store
